{{- /*
@context {map} attrs href[string] rel[external|nul]
@context {string} Destination The same as attrs.href
@context {page} Page The page containing the link
@context {string} Title The link title
@context {string} Text The link text
@context {int} dbId The fragment database id
*/}}

{{ $uniqueId := printf "%v-%d" .dbId (math.Counter) }}
{{ $target := printf "transclusion-container-%v" $uniqueId }}
{{ $apiUrl := site.Params.apiUrl }}
<a
  {{- with .Title }} title="{{ . }}" {{- end -}}
  {{- range $k, $v := .attrs }}
    {{- if $v }}
      {{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr }}
    {{- end }}
  {{- end -}}
  hx-get="{{ $apiUrl }}/api/fragment/{{ .dbId }}"
  hx-target="#{{ $target }}"
  hx-trigger="click once"
  hx-on::after-request="
  const target = document.getElementById('{{ $target }}');
  target.classList.remove('hidden');
  this.onclick = function() {
    target.classList.remove('hidden');
  };
  "
>{{ .Text }}</a>
<span id="{{ $target }}" class="transclusion-container hidden"></span>



