{{- $attrs := .attrs}}
<a
  {{- with .Title }} title="{{ . }}" {{- end -}}
  {{- range $k, $v := $attrs }}
    {{- if $v }}
      {{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr }}
    {{- end }}
  {{- end -}}
>{{ .Text }}</a>

{{ $rel := $attrs.rel }}
{{- if not $rel }}
  {{ $fragmentsMap := site.Data.fragments.sections }}
  {{ $url := $attrs.href }}
  {{ $fragmentData := index $fragmentsMap $url }}
  {{- if $fragmentData }}
    {{ $dbId := $fragmentData.db_id }}
    {{ $apiUrl := site.Params.apiUrl }}
    {{ $uniqueId := printf "%v-%v" $dbId (now.UnixMilli) }}
    <button class="infolink"
            id="infolink-{{ $uniqueId }}"
            hx-get="{{ $apiUrl }}/fragment/{{ $dbId }}"
            hx-trigger="click once"
            hx-indicator="#loading-indicator-{{ $uniqueId }}"
            hx-target="#fragment-display-{{ $uniqueId }}"
            hx-on::after-request="
            const display = document.getElementById('fragment-display-{{ $uniqueId }}');
            display.classList.toggle('hidden');
            this.textContent = '▲';
            this.onclick = function() {
            display.classList.toggle('hidden');
            this.textContent = display.classList.contains('hidden') ? '▼' : '▲';
            };
            ">▼
    </button>
    <span class="htmx-indicator" id="loading-indicator-{{ $uniqueId }}">
      <img  src="/images/tail-spin.svg" alt="Loading...">
    </span>
    <span id="fragment-display-{{ $uniqueId}}" class="infolink-display hidden"></span>
  {{- end }}
{{- end }}
