@import "tailwindcss";
/* TODO: remove */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "@tailwindcss/typography";
@source "hugo_stats.json";

#search-results {
  @apply my-3;
}

#search-results h1 a {
  @apply text-3xl my-2;
}

#search-results h2 a {
  @apply text-2xl my-2;
}

#search-results h3 a {
  @apply text-xl my-2;
}

#search-results .article-fragment {
  @apply my-2;
}
